*.swp
/blockly/.eslintignore
/blockly/.eslintrc
/blockly/.gitignore
/blockly/.jshintignore
/blockly/.npmrc
/blockly/CONTRIBUTING.md
/blockly/LICENSE
/blockly/README.md
/blockly/accessible/README.md
/blockly/accessible/app.component.js
/blockly/accessible/audio.service.js
/blockly/accessible/clipboard.service.js
/blockly/accessible/field-segment.component.js
/blockly/accessible/libs/Rx.umd.min.js
/blockly/accessible/libs/angular2-all.umd.min.js
/blockly/accessible/libs/angular2-polyfills.min.js
/blockly/accessible/libs/es6-shim.min.js
/blockly/accessible/media/accessible.css
/blockly/accessible/media/click.mp3
/blockly/accessible/media/click.ogg
/blockly/accessible/media/click.wav
/blockly/accessible/media/delete.mp3
/blockly/accessible/media/delete.ogg
/blockly/accessible/media/delete.wav
/blockly/accessible/messages.js
/blockly/accessible/notifications.service.js
/blockly/accessible/toolbox-tree.component.js
/blockly/accessible/toolbox.component.js
/blockly/accessible/translate.pipe.js
/blockly/accessible/tree.service.js
/blockly/accessible/utils.service.js
/blockly/accessible/workspace-tree.component.js
/blockly/accessible/workspace.component.js
/blockly/appengine/README.txt
/blockly/appengine/app.yaml
/blockly/appengine/apple-touch-icon.png
/blockly/appengine/favicon.ico
/blockly/appengine/index.yaml
/blockly/appengine/index_redirect.py
/blockly/appengine/redirect.html
/blockly/appengine/robots.txt
/blockly/appengine/storage.js
/blockly/appengine/storage.py
/blockly/blockly_compressed.js
/blockly/blockly_uncompressed.js
/blockly/blocks/colour.js
/blockly/blocks/lists.js
/blockly/blocks/logic.js
/blockly/blocks/loops.js
/blockly/blocks/math.js
/blockly/blocks/procedures.js
/blockly/blocks/text.js
/blockly/blocks/variables.js
/blockly/blocks_compressed.js
/blockly/build.py
/blockly/core/block.js
/blockly/core/block_render_svg.js
/blockly/core/block_svg.js
/blockly/core/blockly.js
/blockly/core/blocks.js
/blockly/core/bubble.js
/blockly/core/comment.js
/blockly/core/connection.js
/blockly/core/connection_db.js
/blockly/core/constants.js
/blockly/core/contextmenu.js
/blockly/core/css.js
/blockly/core/events.js
/blockly/core/field.js
/blockly/core/field_angle.js
/blockly/core/field_checkbox.js
/blockly/core/field_colour.js
/blockly/core/field_date.js
/blockly/core/field_dropdown.js
/blockly/core/field_image.js
/blockly/core/field_label.js
/blockly/core/field_number.js
/blockly/core/field_textinput.js
/blockly/core/field_variable.js
/blockly/core/flyout.js
/blockly/core/flyout_button.js
/blockly/core/generator.js
/blockly/core/icon.js
/blockly/core/inject.js
/blockly/core/input.js
/blockly/core/msg.js
/blockly/core/mutator.js
/blockly/core/names.js
/blockly/core/options.js
/blockly/core/procedures.js
/blockly/core/rendered_connection.js
/blockly/core/scrollbar.js
/blockly/core/toolbox.js
/blockly/core/tooltip.js
/blockly/core/touch.js
/blockly/core/trashcan.js
/blockly/core/utils.js
/blockly/core/variables.js
/blockly/core/warning.js
/blockly/core/widgetdiv.js
/blockly/core/workspace.js
/blockly/core/workspace_svg.js
/blockly/core/xml.js
/blockly/core/zoom_controls.js
/blockly/dart_compressed.js
/blockly/demos/accessible/icon.png
/blockly/demos/accessible/index.html
/blockly/demos/blockfactory/app_controller.js
/blockly/demos/blockfactory/block_exporter_controller.js
/blockly/demos/blockfactory/block_exporter_tools.js
/blockly/demos/blockfactory/block_exporter_view.js
/blockly/demos/blockfactory/block_library_controller.js
/blockly/demos/blockfactory/block_library_storage.js
/blockly/demos/blockfactory/block_library_view.js
/blockly/demos/blockfactory/block_option.js
/blockly/demos/blockfactory/blocks.js
/blockly/demos/blockfactory/devtools.png
/blockly/demos/blockfactory/factory.css
/blockly/demos/blockfactory/factory.js
/blockly/demos/blockfactory/factory_utils.js
/blockly/demos/blockfactory/icon.png
/blockly/demos/blockfactory/index.html
/blockly/demos/blockfactory/link.png
/blockly/demos/blockfactory/standard_categories.js
/blockly/demos/blockfactory/workspacefactory/wfactory_controller.js
/blockly/demos/blockfactory/workspacefactory/wfactory_generator.js
/blockly/demos/blockfactory/workspacefactory/wfactory_init.js
/blockly/demos/blockfactory/workspacefactory/wfactory_model.js
/blockly/demos/blockfactory/workspacefactory/wfactory_view.js
/blockly/demos/blockfactory_old/blocks.js
/blockly/demos/blockfactory_old/factory.js
/blockly/demos/blockfactory_old/icon.png
/blockly/demos/blockfactory_old/index.html
/blockly/demos/blockfactory_old/link.png
/blockly/demos/code/code.js
/blockly/demos/code/icon.png
/blockly/demos/code/icons.png
/blockly/demos/code/index.html
/blockly/demos/code/msg/ar.js
/blockly/demos/code/msg/be-tarask.js
/blockly/demos/code/msg/br.js
/blockly/demos/code/msg/ca.js
/blockly/demos/code/msg/cs.js
/blockly/demos/code/msg/da.js
/blockly/demos/code/msg/de.js
/blockly/demos/code/msg/el.js
/blockly/demos/code/msg/en.js
/blockly/demos/code/msg/es.js
/blockly/demos/code/msg/et.js
/blockly/demos/code/msg/fa.js
/blockly/demos/code/msg/fr.js
/blockly/demos/code/msg/he.js
/blockly/demos/code/msg/hrx.js
/blockly/demos/code/msg/hu.js
/blockly/demos/code/msg/ia.js
/blockly/demos/code/msg/is.js
/blockly/demos/code/msg/it.js
/blockly/demos/code/msg/ja.js
/blockly/demos/code/msg/ko.js
/blockly/demos/code/msg/mk.js
/blockly/demos/code/msg/ms.js
/blockly/demos/code/msg/nb.js
/blockly/demos/code/msg/nl.js
/blockly/demos/code/msg/oc.js
/blockly/demos/code/msg/pl.js
/blockly/demos/code/msg/pms.js
/blockly/demos/code/msg/pt-br.js
/blockly/demos/code/msg/ro.js
/blockly/demos/code/msg/ru.js
/blockly/demos/code/msg/sc.js
/blockly/demos/code/msg/sk.js
/blockly/demos/code/msg/sr.js
/blockly/demos/code/msg/sv.js
/blockly/demos/code/msg/ta.js
/blockly/demos/code/msg/th.js
/blockly/demos/code/msg/tlh.js
/blockly/demos/code/msg/tr.js
/blockly/demos/code/msg/uk.js
/blockly/demos/code/msg/vi.js
/blockly/demos/code/msg/zh-hans.js
/blockly/demos/code/msg/zh-hant.js
/blockly/demos/code/style.css
/blockly/demos/custom-dialogs/custom-dialog.js
/blockly/demos/custom-dialogs/index.html
/blockly/demos/fixed/icon.png
/blockly/demos/fixed/index.html
/blockly/demos/generator/icon.png
/blockly/demos/generator/index.html
/blockly/demos/graph/icon.png
/blockly/demos/graph/index.html
/blockly/demos/headless/icon.png
/blockly/demos/headless/index.html
/blockly/demos/index.html
/blockly/demos/interpreter/acorn_interpreter.js
/blockly/demos/interpreter/icon.png
/blockly/demos/interpreter/index.html
/blockly/demos/maxBlocks/icon.png
/blockly/demos/maxBlocks/index.html
/blockly/demos/mirror/icon.png
/blockly/demos/mirror/index.html
/blockly/demos/plane/README.txt
/blockly/demos/plane/blocks.js
/blockly/demos/plane/generated/ar.js
/blockly/demos/plane/generated/be-tarask.js
/blockly/demos/plane/generated/br.js
/blockly/demos/plane/generated/ca.js
/blockly/demos/plane/generated/da.js
/blockly/demos/plane/generated/de.js
/blockly/demos/plane/generated/el.js
/blockly/demos/plane/generated/en.js
/blockly/demos/plane/generated/es.js
/blockly/demos/plane/generated/et.js
/blockly/demos/plane/generated/fa.js
/blockly/demos/plane/generated/fr.js
/blockly/demos/plane/generated/he.js
/blockly/demos/plane/generated/hrx.js
/blockly/demos/plane/generated/hu.js
/blockly/demos/plane/generated/ia.js
/blockly/demos/plane/generated/is.js
/blockly/demos/plane/generated/it.js
/blockly/demos/plane/generated/ja.js
/blockly/demos/plane/generated/ko.js
/blockly/demos/plane/generated/ms.js
/blockly/demos/plane/generated/nb.js
/blockly/demos/plane/generated/nl.js
/blockly/demos/plane/generated/pl.js
/blockly/demos/plane/generated/pms.js
/blockly/demos/plane/generated/pt-br.js
/blockly/demos/plane/generated/ro.js
/blockly/demos/plane/generated/ru.js
/blockly/demos/plane/generated/sc.js
/blockly/demos/plane/generated/sv.js
/blockly/demos/plane/generated/th.js
/blockly/demos/plane/generated/tr.js
/blockly/demos/plane/generated/uk.js
/blockly/demos/plane/generated/vi.js
/blockly/demos/plane/generated/zh-hans.js
/blockly/demos/plane/generated/zh-hant.js
/blockly/demos/plane/icon.png
/blockly/demos/plane/index.html
/blockly/demos/plane/plane.js
/blockly/demos/plane/slider.js
/blockly/demos/plane/soy/COPYING
/blockly/demos/plane/soy/README
/blockly/demos/plane/soy/SoyMsgExtractor.jar
/blockly/demos/plane/soy/SoyToJsSrcCompiler.jar
/blockly/demos/plane/soy/soyutils.js
/blockly/demos/plane/style.css
/blockly/demos/plane/template.soy
/blockly/demos/plane/xlf/extracted_msgs.xlf
/blockly/demos/plane/xlf/translated_msgs_ar.xlf
/blockly/demos/plane/xlf/translated_msgs_be-tarask.xlf
/blockly/demos/plane/xlf/translated_msgs_br.xlf
/blockly/demos/plane/xlf/translated_msgs_ca.xlf
/blockly/demos/plane/xlf/translated_msgs_da.xlf
/blockly/demos/plane/xlf/translated_msgs_de.xlf
/blockly/demos/plane/xlf/translated_msgs_el.xlf
/blockly/demos/plane/xlf/translated_msgs_en.xlf
/blockly/demos/plane/xlf/translated_msgs_es.xlf
/blockly/demos/plane/xlf/translated_msgs_et.xlf
/blockly/demos/plane/xlf/translated_msgs_fa.xlf
/blockly/demos/plane/xlf/translated_msgs_fr.xlf
/blockly/demos/plane/xlf/translated_msgs_he.xlf
/blockly/demos/plane/xlf/translated_msgs_hrx.xlf
/blockly/demos/plane/xlf/translated_msgs_hu.xlf
/blockly/demos/plane/xlf/translated_msgs_ia.xlf
/blockly/demos/plane/xlf/translated_msgs_is.xlf
/blockly/demos/plane/xlf/translated_msgs_it.xlf
/blockly/demos/plane/xlf/translated_msgs_ja.xlf
/blockly/demos/plane/xlf/translated_msgs_ko.xlf
/blockly/demos/plane/xlf/translated_msgs_ms.xlf
/blockly/demos/plane/xlf/translated_msgs_nb.xlf
/blockly/demos/plane/xlf/translated_msgs_nl.xlf
/blockly/demos/plane/xlf/translated_msgs_pl.xlf
/blockly/demos/plane/xlf/translated_msgs_pms.xlf
/blockly/demos/plane/xlf/translated_msgs_pt-br.xlf
/blockly/demos/plane/xlf/translated_msgs_ro.xlf
/blockly/demos/plane/xlf/translated_msgs_ru.xlf
/blockly/demos/plane/xlf/translated_msgs_sc.xlf
/blockly/demos/plane/xlf/translated_msgs_sv.xlf
/blockly/demos/plane/xlf/translated_msgs_th.xlf
/blockly/demos/plane/xlf/translated_msgs_tr.xlf
/blockly/demos/plane/xlf/translated_msgs_uk.xlf
/blockly/demos/plane/xlf/translated_msgs_vi.xlf
/blockly/demos/plane/xlf/translated_msgs_zh-hans.xlf
/blockly/demos/plane/xlf/translated_msgs_zh-hant.xlf
/blockly/demos/prettify.css
/blockly/demos/prettify.js
/blockly/demos/resizable/icon.png
/blockly/demos/resizable/index.html
/blockly/demos/resizable/overlay.html
/blockly/demos/rtl/icon.png
/blockly/demos/rtl/index.html
/blockly/demos/storage/icon.png
/blockly/demos/storage/index.html
/blockly/demos/toolbox/icon.png
/blockly/demos/toolbox/index.html
/blockly/generators/dart.js
/blockly/generators/dart/colour.js
/blockly/generators/dart/lists.js
/blockly/generators/dart/logic.js
/blockly/generators/dart/loops.js
/blockly/generators/dart/math.js
/blockly/generators/dart/procedures.js
/blockly/generators/dart/text.js
/blockly/generators/dart/variables.js
/blockly/generators/javascript.js
/blockly/generators/javascript/colour.js
/blockly/generators/javascript/lists.js
/blockly/generators/javascript/logic.js
/blockly/generators/javascript/loops.js
/blockly/generators/javascript/math.js
/blockly/generators/javascript/procedures.js
/blockly/generators/javascript/text.js
/blockly/generators/javascript/variables.js
/blockly/generators/lua.js
/blockly/generators/lua/colour.js
/blockly/generators/lua/lists.js
/blockly/generators/lua/logic.js
/blockly/generators/lua/loops.js
/blockly/generators/lua/math.js
/blockly/generators/lua/procedures.js
/blockly/generators/lua/text.js
/blockly/generators/lua/variables.js
/blockly/generators/php.js
/blockly/generators/php/colour.js
/blockly/generators/php/lists.js
/blockly/generators/php/logic.js
/blockly/generators/php/loops.js
/blockly/generators/php/math.js
/blockly/generators/php/procedures.js
/blockly/generators/php/text.js
/blockly/generators/php/variables.js
/blockly/generators/python.js
/blockly/generators/python/colour.js
/blockly/generators/python/lists.js
/blockly/generators/python/logic.js
/blockly/generators/python/loops.js
/blockly/generators/python/math.js
/blockly/generators/python/procedures.js
/blockly/generators/python/text.js
/blockly/generators/python/variables.js
/blockly/i18n/common.py
/blockly/i18n/create_messages.py
/blockly/i18n/dedup_json.py
/blockly/i18n/js_to_json.py
/blockly/i18n/json_to_js.py
/blockly/i18n/tests.py
/blockly/i18n/xliff_to_json.py
/blockly/javascript_compressed.js
/blockly/lua_compressed.js
/blockly/media/1x1.gif
/blockly/media/click.mp3
/blockly/media/click.ogg
/blockly/media/click.wav
/blockly/media/delete.mp3
/blockly/media/delete.ogg
/blockly/media/delete.wav
/blockly/media/disconnect.mp3
/blockly/media/disconnect.ogg
/blockly/media/disconnect.wav
/blockly/media/handclosed.cur
/blockly/media/handdelete.cur
/blockly/media/handopen.cur
/blockly/media/quote0.png
/blockly/media/quote1.png
/blockly/media/sprites.png
/blockly/media/sprites.svg
/blockly/msg/js/ar.js
/blockly/msg/js/az.js
/blockly/msg/js/ba.js
/blockly/msg/js/bcc.js
/blockly/msg/js/be-tarask.js
/blockly/msg/js/bg.js
/blockly/msg/js/bn.js
/blockly/msg/js/br.js
/blockly/msg/js/ca.js
/blockly/msg/js/cs.js
/blockly/msg/js/da.js
/blockly/msg/js/de.js
/blockly/msg/js/diq.js
/blockly/msg/js/el.js
/blockly/msg/js/en-gb.js
/blockly/msg/js/en.js
/blockly/msg/js/es.js
/blockly/msg/js/et.js
/blockly/msg/js/fa.js
/blockly/msg/js/fi.js
/blockly/msg/js/fr.js
/blockly/msg/js/he.js
/blockly/msg/js/hi.js
/blockly/msg/js/hrx.js
/blockly/msg/js/hu.js
/blockly/msg/js/ia.js
/blockly/msg/js/id.js
/blockly/msg/js/is.js
/blockly/msg/js/it.js
/blockly/msg/js/ja.js
/blockly/msg/js/ko.js
/blockly/msg/js/lb.js
/blockly/msg/js/lki.js
/blockly/msg/js/lrc.js
/blockly/msg/js/lt.js
/blockly/msg/js/mk.js
/blockly/msg/js/ms.js
/blockly/msg/js/nb.js
/blockly/msg/js/nl.js
/blockly/msg/js/oc.js
/blockly/msg/js/pl.js
/blockly/msg/js/pms.js
/blockly/msg/js/pt-br.js
/blockly/msg/js/pt.js
/blockly/msg/js/ro.js
/blockly/msg/js/ru.js
/blockly/msg/js/sc.js
/blockly/msg/js/sd.js
/blockly/msg/js/shn.js
/blockly/msg/js/sk.js
/blockly/msg/js/sl.js
/blockly/msg/js/sq.js
/blockly/msg/js/sr.js
/blockly/msg/js/sv.js
/blockly/msg/js/ta.js
/blockly/msg/js/tcy.js
/blockly/msg/js/th.js
/blockly/msg/js/tl.js
/blockly/msg/js/tlh.js
/blockly/msg/js/tr.js
/blockly/msg/js/uk.js
/blockly/msg/js/vi.js
/blockly/msg/js/zh-hans.js
/blockly/msg/js/zh-hant.js
/blockly/msg/json/ar.json
/blockly/msg/json/az.json
/blockly/msg/json/ba.json
/blockly/msg/json/bcc.json
/blockly/msg/json/be-tarask.json
/blockly/msg/json/bg.json
/blockly/msg/json/bn.json
/blockly/msg/json/br.json
/blockly/msg/json/ca.json
/blockly/msg/json/cs.json
/blockly/msg/json/da.json
/blockly/msg/json/de.json
/blockly/msg/json/diq.json
/blockly/msg/json/el.json
/blockly/msg/json/en-gb.json
/blockly/msg/json/en.json
/blockly/msg/json/es.json
/blockly/msg/json/et.json
/blockly/msg/json/fa.json
/blockly/msg/json/fi.json
/blockly/msg/json/fr.json
/blockly/msg/json/he.json
/blockly/msg/json/hi.json
/blockly/msg/json/hrx.json
/blockly/msg/json/hu.json
/blockly/msg/json/ia.json
/blockly/msg/json/id.json
/blockly/msg/json/is.json
/blockly/msg/json/it.json
/blockly/msg/json/ja.json
/blockly/msg/json/ko.json
/blockly/msg/json/lb.json
/blockly/msg/json/lki.json
/blockly/msg/json/lrc.json
/blockly/msg/json/lt.json
/blockly/msg/json/mk.json
/blockly/msg/json/ms.json
/blockly/msg/json/nb.json
/blockly/msg/json/nl.json
/blockly/msg/json/oc.json
/blockly/msg/json/pl.json
/blockly/msg/json/pms.json
/blockly/msg/json/pt-br.json
/blockly/msg/json/pt.json
/blockly/msg/json/qqq.json
/blockly/msg/json/ro.json
/blockly/msg/json/ru.json
/blockly/msg/json/sc.json
/blockly/msg/json/sd.json
/blockly/msg/json/shn.json
/blockly/msg/json/sk.json
/blockly/msg/json/sl.json
/blockly/msg/json/sq.json
/blockly/msg/json/sr.json
/blockly/msg/json/sv.json
/blockly/msg/json/synonyms.json
/blockly/msg/json/ta.json
/blockly/msg/json/tcy.json
/blockly/msg/json/th.json
/blockly/msg/json/tl.json
/blockly/msg/json/tlh.json
/blockly/msg/json/tr.json
/blockly/msg/json/uk.json
/blockly/msg/json/vi.json
/blockly/msg/json/zh-hans.json
/blockly/msg/json/zh-hant.json
/blockly/msg/messages.js
/blockly/package.json
/blockly/php_compressed.js
/blockly/python_compressed.js
/blockly/tests/generators/colour.xml
/blockly/tests/generators/functions.xml
/blockly/tests/generators/index.html
/blockly/tests/generators/lists.xml
/blockly/tests/generators/logic.xml
/blockly/tests/generators/loops1.xml
/blockly/tests/generators/loops2.xml
/blockly/tests/generators/loops3.xml
/blockly/tests/generators/math.xml
/blockly/tests/generators/text.xml
/blockly/tests/generators/unittest.js
/blockly/tests/generators/unittest_dart.js
/blockly/tests/generators/unittest_javascript.js
/blockly/tests/generators/unittest_lua.js
/blockly/tests/generators/unittest_php.js
/blockly/tests/generators/unittest_python.js
/blockly/tests/generators/variables.xml
/blockly/tests/jsunit/blockly_test.js
/blockly/tests/jsunit/connection_db_test.js
/blockly/tests/jsunit/connection_test.js
/blockly/tests/jsunit/db_test.js
/blockly/tests/jsunit/generator_test.js
/blockly/tests/jsunit/index.html
/blockly/tests/jsunit/names_test.js
/blockly/tests/jsunit/workspace_test.js
/blockly/tests/jsunit/xml_test.js
/blockly/tests/multi_playground.html
/blockly/tests/playground.html
